@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Syne&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    
    background-image: url(https://i.pinimg.com/1200x/ce/ba/76/ceba76798783de11d52b9067565997f4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Fraunces', sans-serif;
    text-align: center;
    font-size: 5rem;
    color: white;
}

h2 {
    font-family: 'Fraunces';
    text-align: center;
    font-size: 3rem;
    color: black;
    text-shadow: 1px 1px 2px grey;
}

.choice {
    font-family: 'Fraunces';
    font-size: 3rem;
    color: white
}

p {
    font-family: 'Syne';
    color: #ffe4c4;
    text-align: center;
}

button {
    min-width: 142px;
    min-height: 32px;
    width: 20%;
    height: 2%;
    font-family: 'Syne';
    border: none;
    background-color: rgba(255, 228, 196,0.65);
    color: black;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.2;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18);

}

button:hover {
    background-color: rgba(255, 228, 196,1);
}

input[type="text"] {
    border-radius: 10px;
    min-width: 142px;
    min-height: 23px;
}

input[type="radio"] {
    accent-color: rgb(255, 153, 27);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: rgb(248, 180, 91);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    width: 300px;
    background-color: rgb(253, 244, 231);
    border-radius: 5px;
    cursor: pointer;
}

input[type="date"] {
    font-family: 'Syne' ;
}

input[type="checkbox"] { 
    background-color: #ffe4c4;
}

.text, #belowtext {
    font-family: 'Syne';
    color: #ffe4c4;
    text-align: center;
    align-self: center;
    -webkit-text-stroke: 0.01px rgba(0, 0, 0, 0.342);

}


label, .text {
   text-shadow: 1px 1px 2px grey; 
   font-weight: bold;
   font-family: 'Syne';
}

.Appear {
    display: none;
}

.overlay {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    background-size: cover;
}

.main {
    padding-top: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 100px;
}

#planner {
    padding: 0;
}

form {
    display: contents;
}

.Box {
    aspect-ratio: 3/1;
    background-color: white;
    min-width: 100px;
    min-height: 450px;
    width: 90vw;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    align-self: center;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.progress-container {
    aspect-ratio: 3/1;
    background-color: transparent;
    min-width: 100px;
    width: 90vw;
    height: 32px;
    border-radius: 10px;
    align-self: center;
    display: flex;
    align-items: row;
}

#right-arrow:hover, #left-arrow:hover {
    background-color: transparent;
}

#right-arrow, #left-arrow {
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 20px;
    margin-top: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 5%;
    height:20px;
}

#left-arrow {
    background-image: url(angle-double-left.svg);
}

#right-arrow {
    background-image: url(angle-double-right.svg);
}

#right-arrow:disabled, #left-arrow:disabled {
    filter: grayscale(100%);
    opacity: 0.6;
}

#progress {
    text-align: center;
    margin-top: 1%;
    top:0;
    position: relative;
    background: rgba(0,0,0,0.1);
    width: 80%;
    height: 20px;
    border-radius: 100px;
    display: flex;
    align-items: flex-start;
}

#progressVal {
    text-align: center;
    margin-top: 0;
    position: relative;
    background: rgb(241, 218, 155);
    width: 0%;
    height: 20px;
    border-radius: 100px;
    align-self: center;
}

.page {
    display: none;
    height: fit-content;
}

#pg1 {
    display: flex;
    flex-direction: column;
}

#hd1,#hd2 {
    align-self: center;
    position: relative;
    top: 30%
}

#btn1 {
    align-self: center;
    position: relative;
    top: 80%

}

.nxtpg {
    margin-top: 5%;
}

#loadingscreen {
    align-items: center;
    border: 16px solid rgb(0, 0, 0,0.18);
    border-top: 16px solid rgb(241, 218, 155);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#data, #dates {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

#nodata, .dates2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}